/* common
========== */
*:before, *,
*:after {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    font-family: 'Helvetica LT Std', 'Helvetica CY', 'Arial', 'Nimbus Sans L', sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72%;
    margin: 0 auto;
}
/* header
========== */
header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #5c999c;
}

h2 {
    padding: 0.7em 0;
    font: calc(20px + 1.6vw)/calc(20px + 1.6vw) 'Cherry Swash', 'Comic Sans MS', 'Monaco CY', cursive;
}

h2 > a {
    color: #ffffff;
}

a {
    text-decoration: none;
}

a:hover {
    color: #00d089;
}

nav > a {
    position: relative;
    padding-right: 3vw;
    font-size: calc(10px + 0.6vw);
    font-stretch: condensed;
    text-transform: uppercase;
    color: #dce3e4;
}

nav > a:not(:last-child):after {
    content: '';
    position: absolute;
    top: 0.15em;
    right: 1.5vw;
    width: 0.12em;
    height: 1em;
    background: #dce3e4;
    transform: rotate(10deg);

}

nav > a:last-child {
    padding-right: 0;
}

.burger {
    position: relative;
    z-index: 1;
    display: none;
    width: 30px;
    height: 3px;
    background-color: #dce3e4;
}

.burger:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 1;
    width: 30px;
    height: 3px;
    background-color: #dce3e4;
}

.burger:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 1;
    width: 30px;
    height: 3px;
    background-color: #dce3e4;
}
/* main
========== */
.container--column {
    flex-direction: column;
}

.container--padding {
    padding-bottom: 90px;
}

section {
    padding-top: calc(30px + 7.8vw);
}

li > a:hover, .btn-read:hover {
    background-color: #00d089;
}
/*--sea--*/
.sea {
    background: url(../img/sea.png) no-repeat 50% 10%/cover;
}

h1 {
    padding: 0 1.8em;
    font-size: calc(20px + 1.9vw);
    font-weight: 700;
    text-transform: uppercase;
    color: #e4e4e4;
}

.btn-read {
    margin-top: 1.5em;
    margin-bottom: 4em;
    padding: 0.4em 1.5em;
    font: 300 calc(10px + 1.6vw) 'Helvetica LT Std', 'Helvetica CY', 'Arial', 'Nimbus Sans L', sans-serif;
    color: #e4e4e4;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 5px;
}

ul {
    display: flex;
    margin-bottom: calc(12px + 1.5vw);
    padding: 0;
    list-style-type: none;
}

li {
    margin-right: 10px;
}

li:last-child {
    margin-right: 0;
}

li > a {
    display: block;
    width: 9px;
    height: 9px;
    background-color: #ffffff;
    border-radius: 50%;
}

.checked {
    background: #69728c;
}
/*--about--*/
h3 {
    padding: 0 4.5em;
    font: calc(10px + 1.6vw) 'Helvetica LT Std Roman', 'Helvetica CY', 'Arial', 'Nimbus Sans L', sans-serif;
    line-height: 1.5em;
}

p {
    font: calc(10px + .3vw) 'Helvetica LT Std Roman', 'Helvetica CY', 'Arial', 'Nimbus Sans L', sans-serif;
    padding: calc(23px + 1.2vw) 0;
}

.images {
    display: flex;
    justify-content: center;
}

.icon {
    width: 57px;
    height: 57px;
    margin: 31px 4.9vw 0;
    border: none;
}

.icon:hover {
    filter: invert(100%);
}

.icon:first-child {
    background: url(../img/icon-basket.png) no-repeat center/cover;
}

.icon:nth-child(2) {
    background: url(../img/icon-earth.png) no-repeat center/cover;
}

.icon:last-child {
    background: url(../img/icon-case.png) no-repeat center/cover;
}
/*--portfolio--*/
.portfolio {
    background: #00d089;
}

.avatar {
    position: relative;
    width: 135px;
    height: 135px;
    margin-bottom: 5vw;
    background: url(../img/avatar.png) no-repeat top center;
    border-radius: 50%;
}

h4 {
    position: absolute;
    top: 10px;
    left: 170px;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #e4e4e4;
}

h4:after {
    content: '”';
    position: absolute;
    top: 150px;
    left: -20px;
    font-size: 300px;
    line-height: 0;
    color: #ffffff;
    opacity: 0.2;
}

blockquote {
    font-size: calc(10px + .6vw);
    font-weight: 300;
    line-height: 1.5em;
    text-align: left;
    color: #ffffff;
}
/*--contact--*/
.contact {
    background: url(../img/map.png) no-repeat bottom center/cover;
}

form {
    width: 431px;
    height: 431px;
    margin-top: 51px;
    margin-bottom: 34px;
    padding: 112px 77px 45px;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(76, 80, 93, 0.5);
    border-radius: 50%;
    transition: all ease 1s;
}

::placeholder {
    color: rgba(76, 80, 93, 0.5);
}

input, textarea {
    width: 100%;
    margin-bottom: 14px;
    padding: 10px 0 10px 15px;
    font-weight: 300;
    font-family: 'Helvetica LT Std', 'Helvetica CY', 'Arial', 'Nimbus Sans L', sans-serif;
    border: 1px solid rgba(76, 80, 93, 0.5);
    outline: none;
}

textarea {
    resize: none;
}

.btn-ok {
    position: relative;
    width: 68px;
    height: 68px;
    margin-top: 32px;
    background: #00d089 no-repeat center/cover;
    border: none;
    border-radius: 50%;
}

.btn-ok:before {
    content: '';
    position: absolute;
    right: 53%;
    bottom: 33.82%;
    width: 22.06%;
    height: 13.24%;
    background: #ffffff;
    border-radius: 2px;
    transform: rotate(45deg);
}

.btn-ok:after {
    content: '';
    position: absolute;
    bottom: 36.76%;
    left: 34%;
    width: 51.47%;
    height: 13.24%;
    background: #ffffff;
    border-radius: 2px;
    transform: rotate(-45deg);
}

.btn-ok:hover {
    filter: invert(80%);
}
/* footer
========== */
footer {
    background: #00d089;
}

h6 {
    padding: 1em 0;
    font-stretch: condensed;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
}